[submodule "lib/Unity"]
	path = lib/Unity
	url = https://github.com/ThrowTheSwitch/Unity
[submodule "lib/uthash"]
	path = lib/uthash
	url = https://github.com/troydhanson/uthash
[submodule "src/lib/libuv"]
	path = src/lib/libuv
	url = https://github.com/libuv/libuv
[submodule "src/lib/Unity"]
	path = src/lib/Unity
	url = https://github.com/ThrowTheSwitch/Unity
[submodule "src/lib/spdlog"]
	path = src/lib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "src/lib/fmt"]
	path = src/lib/fmt
	url = https://github.com/fmtlib/fmt
[submodule "src/lib/protobuf"]
	path = src/lib/protobuf
	url = https://github.com/protocolbuffers/protobuf
